

/*header styling*/
.timer{

}

.HighScore{

}

/*first slide*/
.start-slide{

}

.rule-list{

}

.start-btn{
    background-color: rgb(74, 4, 187);
    color: white;
    padding: 5px;
    margin:10px;
    border-radius: 7px;
}

.invisible {
    display: none;
}

.multiple-choice {
    background-color: rgb(74, 4, 187);
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 7px;
}